In [1]:
import pandas as pd

### Combining gtrends Data

In [26]:
ADtoAU = pd.read_csv("AD-AU.csv", nrows = 15627)
AWtoBH = pd.read_csv("AW-BH.csv", nrows = 14856)
BI = pd.read_csv("BI.csv")
BJtoBS = pd.read_csv("BJ-BS.csv")

In [27]:
BJtoBS

,Unnamed: 0,date,hits,keyword,geo,time,gprop,category
0,1,8/1/2017,0,Bitcoin,BJ,2017-08-01 2017-08-31,web,0
1,2,8/2/2017,0,Bitcoin,BJ,2017-08-01 2017-08-31,web,0
2,3,8/3/2017,0,Bitcoin,BJ,2017-08-01 2017-08-31,web,0
3,4,8/4/2017,0,Bitcoin,BJ,2017-08-01 2017-08-31,web,0
4,5,8/5/2017,0,Bitcoin,BJ,2017-08-01 2017-08-31,web,0
...,...,...,...,...,...,...,...,...
10328,10329,2/24/2023,0,Bitcoin,BS,2023-02-01 2023-02-28,web,0
10329,10330,2/25/2023,83,Bitcoin,BS,2023-02-01 2023-02-28,web,0
10330,10331,2/26/2023,0,Bitcoin,BS,2023-02-01 2023-02-28,web,0
10331,10332,2/27/2023,0,Bitcoin,BS,2023-02-01 2023-02-28,web,0
10332,10333,2/28/2023,0,Bitcoin,BS,2023-02-01 2023-02-28,web,0

In [28]:
frames = [ADtoAU, AWtoBH, BI, BJtoBS]

result = pd.concat(frames)

In [43]:
result

,Unnamed: 0,date,hits,keyword,geo,time,gprop,category
0,1,2/1/2014,0,Bitcoin,AD,2014-02-01 2014-02-28,web,0
1,2,2/2/2014,0,Bitcoin,AD,2014-02-01 2014-02-28,web,0
2,3,2/3/2014,0,Bitcoin,AD,2014-02-01 2014-02-28,web,0
3,4,2/4/2014,0,Bitcoin,AD,2014-02-01 2014-02-28,web,0
4,5,2/5/2014,0,Bitcoin,AD,2014-02-01 2014-02-28,web,0
...,...,...,...,...,...,...,...,...
10328,10329,2/24/2023,0,Bitcoin,BS,2023-02-01 2023-02-28,web,0
10329,10330,2/25/2023,83,Bitcoin,BS,2023-02-01 2023-02-28,web,0
10330,10331,2/26/2023,0,Bitcoin,BS,2023-02-01 2023-02-28,web,0
10331,10332,2/27/2023,0,Bitcoin,BS,2023-02-01 2023-02-28,web,0
10332,10333,2/28/2023,0,Bitcoin,BS,2023-02-01 2023-02-28,web,0

### Combining with Block Summary Data

In [38]:
block_summary = pd.read_csv("block_summary_date.csv")
block_summary.describe()

,count,input_total_min,output_total_min,input_total_usd_min,output_total_usd_min,fee_min,fee_usd_min,input_total_max,output_total_max,input_total_usd_max,...,input_total_usd_quant75,output_total_usd_quant75,fee_quant75,fee_usd_quant75,input_total_sum,output_total_sum,input_total_usd_sum,output_total_usd_sum,fee_sum,fee_usd_sum
count,4649.000000,4649.0,4.649000e+03,4649.0,4649.000000,4649.0,4649.0,4.649000e+03,4.649000e+03,4.649000e+03,...,4649.000000,4649.000000,4649.000000,4649.000000,4.649000e+03,4.649000e+03,4.649000e+03,4.649000e+03,4.649000e+03,4.649000e+03
mean,145069.245644,0.0,4.833188e+08,0.0,0.051109,0.0,0.0,1.987630e+12,1.987905e+12,1.124447e+08,...,1922.949748,1936.807416,34958.562648,1.223108,1.414325e+14,1.418375e+14,9.950485e+09,9.957089e+09,5.435349e+09,4.884588e+05
std,126962.539457,0.0,1.464581e+09,0.0,0.146552,0.0,0.0,4.358823e+12,4.358697e+12,3.489714e+08,...,2777.669003,2787.955660,85879.459760,3.482903,2.016441e+14,2.016002e+14,2.948542e+10,2.949369e+10,9.815842e+09,1.544725e+06
min,1.000000,0.0,0.000000e+00,0.0,0.000000,0.0,0.0,0.000000e+00,5.000000e+09,0.000000e+00,...,0.000000,0.002700,0.000000,0.000000,0.000000e+00,5.000000e+09,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00
25%,8965.000000,0.0,0.000000e+00,0.0,0.000000,0.0,0.0,5.067118e+11,5.067118e+11,1.069791e+05,...,162.402500,168.602800,4884.000000,0.003500,4.979864e+13,5.017455e+13,8.012022e+06,8.064518e+06,9.971000e+08,9.870780e+01
50%,107606.000000,0.0,0.000000e+00,0.0,0.000000,0.0,0.0,1.000000e+12,1.000000e+12,3.994681e+06,...,760.926500,774.722850,20000.000000,0.095200,1.063864e+14,1.067068e+14,4.191594e+08,4.210953e+08,2.343891e+09,8.281038e+03
75%,264855.000000,0.0,1.000000e+04,0.0,0.001100,0.0,0.0,1.933339e+12,1.933337e+12,5.226734e+07,...,2623.660900,2641.418350,50000.000000,0.633700,1.866904e+14,1.868815e+14,6.852130e+09,6.857382e+09,5.467373e+09,2.367672e+05
max,490644.000000,0.0,5.000000e+09,0.0,0.500000,0.0,0.0,5.500000e+13,5.500000e+13,5.788754e+09,...,31561.619150,31777.048850,1000000.000000,45.691900,6.735003e+15,6.735430e+15,5.067170e+11,5.067643e+11,1.495946e+11,2.430471e+07

In [46]:
block_summary

,date,count,input_total_min,output_total_min,input_total_usd_min,output_total_usd_min,fee_min,fee_usd_min,input_total_max,output_total_max,...,input_total_usd_quant75,output_total_usd_quant75,fee_quant75,fee_usd_quant75,input_total_sum,output_total_sum,input_total_usd_sum,output_total_usd_sum,fee_sum,fee_usd_sum
0,2009-01-03,1,0,5000000000,0.0,0.50,0,0.0,0,5000000000,...,0.000000,0.500000,0.0,0.0000,0,5000000000,0.000000e+00,5.000000e-01,0,0.0000
1,2009-01-09,14,0,5000000000,0.0,0.50,0,0.0,0,5000000000,...,0.000000,0.500000,0.0,0.0000,0,70000000000,0.000000e+00,7.000000e+00,0,0.0000
2,2009-01-10,61,0,5000000000,0.0,0.50,0,0.0,0,5000000000,...,0.000000,0.500000,0.0,0.0000,0,305000000000,0.000000e+00,3.050000e+01,0,0.0000
3,2009-01-11,93,0,5000000000,0.0,0.50,0,0.0,0,5000000000,...,0.000000,0.500000,0.0,0.0000,0,465000000000,0.000000e+00,4.650000e+01,0,0.0000
4,2009-01-12,101,0,100000000,0.0,0.01,0,0.0,5000000000,5000000000,...,0.000000,0.500000,0.0,0.0000,17900000000,487900000000,1.790000e+00,4.879000e+01,0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4644,2021-09-29,241991,0,0,0.0,0.00,0,0.0,3183022972236,3183022697236,...,6460.831050,6503.405250,2095.0,0.8590,398250195979606,398331445979606,1.632945e+11,1.633278e+11,1129846913,463270.9803
4645,2021-09-30,293074,0,0,0.0,0.00,0,0.0,6330998817026,6330998798200,...,5866.584375,5910.624650,2156.0,0.8981,438250249468934,438357124468934,1.825575e+11,1.826020e+11,1477442647,615443.9312
4646,2021-10-01,277042,0,0,0.0,0.00,0,0.0,2501247433574,2501247425574,...,6595.260450,6623.910925,2724.0,1.1987,445534100444480,445621600444480,1.960573e+11,1.960958e+11,1625074991,715114.6958
4647,2021-10-02,259961,0,0,0.0,0.00,0,0.0,3210617923308,3210617915892,...,4569.570300,4600.992700,2023.0,0.9754,320911323264430,321028823264430,1.547242e+11,1.547808e+11,1092389547,526684.7252
4648,2023-02-06,301977,0,0,0.0,0.00,0,0.0,1229830177000,1229830158979,...,2283.947500,2293.125500,4487.0,1.0312,67081188666602,67173688666602,1.541593e+10,1.543719e+10,1842761143,423485.5887

In [69]:
combinedData = result.merge(block_summary, on = "date", how = "outer", validate = "m:1")

In [74]:
combinedData.head(10)

,Unnamed: 0,date,hits,keyword,geo,time,gprop,category,count,input_total_min,...,input_total_usd_quant75,output_total_usd_quant75,fee_quant75,fee_usd_quant75,input_total_sum,output_total_sum,input_total_usd_sum,output_total_usd_sum,fee_sum,fee_usd_sum
0,1.0,2/1/2014,0.0,Bitcoin,AD,2014-02-01 2014-02-28,web,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6175.0,2/1/2014,45.0,Bitcoin,AR,2014-02-01 2014-02-28,web,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9029.0,2/1/2014,11.0,Bitcoin,AT,2014-02-01 2014-02-28,web,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12678.0,2/1/2014,39.0,Bitcoin,AU,2014-02-01 2014-02-28,web,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7488.0,2/1/2014,18.0,Bitcoin,BE,2014-02-01 2014-02-28,web,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3314.0,2/1/2014,0.0,Bitcoin,BO,2014-02-01 2014-02-28,web,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5901.0,2/1/2014,41.0,Bitcoin,BR,2014-02-01 2014-02-28,web,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2.0,2/2/2014,0.0,Bitcoin,AD,2014-02-01 2014-02-28,web,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6176.0,2/2/2014,31.0,Bitcoin,AR,2014-02-01 2014-02-28,web,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9030.0,2/2/2014,15.0,Bitcoin,AT,2014-02-01 2014-02-28,web,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN