In [1]:
import pandas as pd
df = pd.read_excel('blockchair_bitcoin_transactions_20161001.xlsx')

In [5]:
df

,block_id,hash,time,size,weight,version,lock_time,is_coinbase,has_witness,input_count,...,input_total_usd,output_total,output_total_usd,fee,fee_usd,fee_per_kb,fee_per_kb_usd,fee_per_kwu,fee_per_kwu_usd,cdd_total
0,432284,a2fafcf53669232c552592b725787aabb33f5ae99c9019...,2016-10-01 00:01:47,185,740,1,950926873,1,0,1,...,0.0000,1313223107,7975.3354,0,0.0000,0.00,0.0000,0.00,0.0000,0.00000
1,432284,a57ff8846694de3d15b428a193c93ebf166f90caf14d70...,2016-10-01 00:01:47,192,768,1,0,0,0,1,...,12.1462,1000000,6.0731,1000000,6.0731,5208330.00,31.6307,1302080.00,7.9077,0.00000
2,432284,805666ccfc07dac6595d779038080c40e169b9961ab46b...,2016-10-01 00:01:47,225,900,1,0,0,0,1,...,60731.0000,9999900000,60730.3906,100000,0.6073,444444.00,2.6992,111111.00,0.6748,118.72338
3,432284,062d12fa986195b04874aaf2c3ab5e307d4da4cde17323...,2016-10-01 00:01:47,192,768,1,0,0,0,1,...,109.8201,18000000,109.3158,83040,0.5043,432500.00,2.6266,108125.00,0.6567,0.00000
4,432284,de0d8363f605cb64fcbd0747c06bb969a9ca178e3e53ee...,2016-10-01 00:01:47,372,1488,1,432273,0,0,2,...,11.0009,1693178,10.2828,118240,0.7181,317849.00,1.9303,79462.40,0.4826,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213925,432440,749823f9f38106cb68d874861afa88f56a8b1e8547185b...,2016-10-01 23:53:50,289,1156,1,0,0,0,1,...,2.5531,418955,2.5444,1445,0.0088,5000.00,0.0304,1250.00,0.0076,0.00000
213926,432440,6b0ce2f9e8e6aa3a66d6e0ac058b093e10eb0205e997cf...,2016-10-01 23:53:50,288,1152,1,0,0,0,1,...,2.5278,414780,2.5190,1445,0.0088,5017.36,0.0305,1254.34,0.0076,0.00000
213927,432440,91ed3247028347b7ecb6e906d60927a1a5af6f50b1e2b3...,2016-10-01 23:53:50,289,1156,1,0,0,0,1,...,2.5024,410605,2.4936,1445,0.0088,5000.00,0.0304,1250.00,0.0076,0.00000
213928,432440,216578ea830bea3f802d7dd72133c9bfdde6334805c79c...,2016-10-01 23:53:50,288,1152,1,0,0,0,1,...,2.4771,406430,2.4683,1445,0.0088,5017.36,0.0305,1254.34,0.0076,0.00000
213929,432440,670ad0c2648655a517f68d8a5c9753c752fa7b76dd9b22...,2016-10-01 23:53:50,288,1152,1,0,0,0,1,...,2.4517,402260,2.4430,1440,0.0087,5000.00,0.0304,1250.00,0.0076,0.00000

In [30]:
counts = df.iloc[:,[0,2]].groupby('time').count()
counts = counts.rename(columns = {"block_id":"count"})
counts

                     count
time
2016-10-01 00:01:47   2531
2016-10-01 00:20:34   2414
2016-10-01 00:21:51    226
2016-10-01 00:24:09    354
2016-10-01 00:28:51    570
...                    ...
2016-10-01 23:04:45   2286
2016-10-01 23:05:46    206
2016-10-01 23:36:30   2519
2016-10-01 23:46:26   2109
2016-10-01 23:53:50   1130

[157 rows x 1 columns]

In [83]:
mean = df.loc[:,["time", "input_total_usd", "output_total_usd"]].groupby('time').mean().rename(columns = {"input_total_usd":"input_total_usd_mean", "output_total_usd":"output_total_usd_mean"})
median = df.loc[:,["time", "input_total_usd", "output_total_usd"]].groupby('time').median().rename(columns = {"input_total_usd":"input_total_usd_median", "output_total_usd":"output_total_usd_median"})
max = df.loc[:,["time", "input_total_usd", "output_total_usd"]].groupby('time').max().rename(columns = {"input_total_usd":"input_total_usd_max", "output_total_usd":"output_total_usd_max"})
min = df.loc[:,["time", "input_total_usd", "output_total_usd"]].groupby('time').min().rename(columns = {"input_total_usd":"input_total_usd_min", "output_total_usd":"output_total_usd_min"})
firstq = df.loc[:,["time", "input_total_usd", "output_total_usd"]].groupby('time').quantile(0.25).rename(columns = {"input_total_usd":"input_total_usd_firstq", "output_total_usd":"output_total_usd_firstq"})
thirdq = df.loc[:,["time", "input_total_usd", "output_total_usd"]].groupby('time').quantile(0.75).rename(columns = {"input_total_usd":"input_total_usd_thirdq", "output_total_usd":"output_total_usd_thirdq"})
sum = df.loc[:,["time", "input_total_usd", "output_total_usd"]].groupby('time').sum().rename(columns = {"input_total_usd":"input_total_usd_sum", "output_total_usd":"output_total_usd_sum"})

In [76]:
mean

                     input_total_usd_mean  output_total_usd_mean
time
2016-10-01 00:01:47           5034.623402            5037.622743
2016-10-01 00:20:34           4798.296017            4801.440763
2016-10-01 00:21:51          14953.005829           14986.595997
2016-10-01 00:24:09          10861.892547           10883.337225
2016-10-01 00:28:51           7454.297503            7467.615748
...                                   ...                    ...
2016-10-01 23:04:45           5139.830632            5143.151462
2016-10-01 23:05:46          33043.673274           33080.524658
2016-10-01 23:36:30           4767.283276            4770.296922
2016-10-01 23:46:26           5573.296405            5576.895911
2016-10-01 23:53:50           6241.079868            6247.797813

[157 rows x 2 columns]

In [77]:
median

                     input_total_usd_median  output_total_usd_median
time
2016-10-01 00:01:47               123.72910                123.84460
2016-10-01 00:20:34               117.19000                117.69270
2016-10-01 00:21:51               165.72645                169.12750
2016-10-01 00:24:09               150.77870                151.70600
2016-10-01 00:28:51               147.16150                147.97745
...                                     ...                      ...
2016-10-01 23:04:45                69.04780                 69.18685
2016-10-01 23:05:46                71.40065                 73.98355
2016-10-01 23:36:30                92.13620                 91.99520
2016-10-01 23:46:26                91.79280                 92.13210
2016-10-01 23:53:50                84.03905                 84.29770

[157 rows x 2 columns]

In [84]:
result = pd.concat([counts, min, max, mean, firstq, median, thirdq, sum], axis = 1)
result

,count,input_total_usd_min,output_total_usd_min,input_total_usd_max,output_total_usd_max,input_total_usd_mean,output_total_usd_mean,input_total_usd_firstq,output_total_usd_firstq,input_total_usd_median,output_total_usd_median,input_total_usd_thirdq,output_total_usd_thirdq,input_total_usd_sum,output_total_usd_sum
time,,,,,,,,,,,,,,,
2016-10-01 00:01:47,2531,0.0,0.0330,485848.0000,485847.9375,5034.623402,5037.622743,25.571700,25.569900,123.72910,123.84460,826.792800,826.811050,1.274263e+07,1.275022e+07
2016-10-01 00:20:34,2414,0.0,0.0304,309607.0625,309607.0000,4798.296017,4801.440763,22.718675,22.670750,117.19000,117.69270,764.460800,768.587525,1.158309e+07,1.159068e+07
2016-10-01 00:21:51,226,0.0,0.0767,115494.2891,115494.1094,14953.005829,14986.595997,16.648250,18.371600,165.72645,169.12750,1705.260425,1745.905825,3.379379e+06,3.386971e+06
2016-10-01 00:24:09,354,0.0,0.0547,297547.8750,297547.6562,10861.892547,10883.337225,28.963750,28.844675,150.77870,151.70600,991.238775,1009.468200,3.845110e+06,3.852701e+06
2016-10-01 00:28:51,570,0.0,0.0607,295564.8125,295564.7500,7454.297503,7467.615748,27.278650,27.480375,147.16150,147.97745,768.770900,773.340950,4.248950e+06,4.256541e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-10-01 23:04:45,2286,0.0,0.0166,296674.1562,296673.9062,5139.830632,5143.151462,14.550400,14.561975,69.04780,69.18685,575.180025,576.448200,1.174965e+07,1.175724e+07
2016-10-01 23:05:46,206,0.0,0.0095,274315.0312,274314.7812,33043.673274,33080.524658,13.023075,13.030550,71.40065,73.98355,1238.270875,1251.332125,6.806997e+06,6.814588e+06
2016-10-01 23:36:30,2519,0.0,0.0221,250520.7812,250520.5312,4767.283276,4770.296922,20.143850,20.039250,92.13620,91.99520,779.664950,783.087850,1.200879e+07,1.201638e+07
2016-10-01 23:46:26,2109,0.0,0.0330,321109.6875,321109.6250,5573.296405,5576.895911,23.698100,23.685100,91.79280,92.13210,471.879900,473.060500,1.175408e+07,1.176167e+07
2016-10-01 23:53:50,1130,0.0,0.0330,334400.6875,334400.6250,6241.079868,6247.797813,21.171850,21.121450,84.03905,84.29770,555.453525,555.892450,7.052420e+06,7.060012e+06